
/*=========SIDE NAV============*/
.sidenav.show {
  left: 0;
}

.sidenav .users-list {
  width: 100%;
  margin-top: 20px;
}

.sidenav .users-list a:hover, .sidenav .test-point-list a:hover {
  text-decoration: none !important;
}

.sidenav {
  float: left;
  top: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  overflow: hidden;
  transition: all 0.3s ease;
  left: -164px;
  width: 220px;
  background: #273135;
  color: #aaa;
  padding-bottom: 50px;
}

.sidenav .scroll-rows {
  height: calc(100% - 230px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.main_content {
  transition: all 0.3s ease;
  height: 100%;
  position: fixed;
  right: 0;
  overflow: auto;
  min-width: 350px;
  left: 55px;
  width: calc(100% - 55px) !important;

}
@media all and (min-width: 799px) {
  .main_content.show {
    left: 220px;
    width: calc(100% - 220px) !important;;
  }
}


/*Nav list*/
.sidenav .users-list, .sidenav .test-point-list {
  font-size: .8rem !important;
}

.sidenav .users-list h5, .sidenav .test-point-list h5 {
  font-size: .8rem !important;
}

.test-point-list .list-group-item:first-child, .users-list .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  /*border-bottom: solid orange 1px;*/
  border: none;

}


.users-list .list-group-item {
  background: transparent;
  /*border: 1px solid orange;*/
  padding-top: 0;
  padding-bottom: 10px;
  border: none;
}

.users-list .list-group-item .list-group-item-heading {
  color: orange;
  margin-bottom: 0;
}

.test-point-list .list-group-item-heading:hover, .users-list .list-group-item-heading:hover {
  /*background: #555;*/
  color: darkorange;
}

.test-point-list .active .list-group-item-heading,
.users-list .active .list-group-item-heading {
  color: #273135;
}

.sidenav .btn-outline-warning:hover {
  color: #273135 !important;
  background-color: orange !important;
  border-color: orange !important;
}

.sidenav .btn-outline-warning {
  color: orange !important;
  border-color: orange !important;
}

.sidenav .user-image {
  width: 40px;
  height: 40px;
  /*margin-top: -40px;*/
  /*position: absolute;*/
  /*bottom: 10px;*/
  transition: all 0.3s ease;
  margin-left: 165px;
  border-radius: 50%;
  border: 1px solid darkorange;
}

.sidenav.show .user-image {
  margin-top: 0;
  margin-left: 0;
  width: 90px;
  height: 90px;
}

.sidenav.show .user-image-holder {
  position: relative;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  width: initial;
  margin-top: 50px;
}

.sidenav .user-image-holder {
  opacity: 0;
  visibility: collapse;
  transition: all 0.3s ease;
}

.sidenav.show .user-desc-holder {
  position: relative;
  bottom: 0;
  width: initial
}

.sidenav .user-desc-holder {
  position: absolute;
  bottom: 75px;
  width: 100%;
}

.sidenav .reporting_side_container {
  position: relative;
  height: 100%;
}

.btn-home .fa-home {
  font-size: 1.5em !important;
  transition: all 0.3s ease;
}

.sidenav .btn-home {
  position: fixed;
  bottom: 8px;
  left: 8px;
  right: 0;

  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  /*margin-left: 171px;*/
  border-radius: 50%;
  padding: 0 !important;
  padding-top: 4px !important;
}

.sidenav.show .btn-home {
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  padding-top: 0px !important;

}

.sidenav .avatar-col {
  /*margin-left: 70px;*/
  height: 50px;
  visibility: hidden;
  display: none;
  transition: all 0.3s ease;
}

.sidenav.show .avatar-col {
  visibility: visible;
  display: block;
}

.sidenav.show .btn-nav-link, .sidenav.show .user-image-small {
  visibility: collapse;
  opacity: 0;
  top: 0;
}

.sidenav .btn-nav-link , .sidenav .user-image-small{
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: 14px;
  top: 0;
  transition: all .5s ease;
  opacity: 1;
  margin-right: -6px;
  font-size: 1.5em !important;
}

.sidenav.show .txt-nav-link {
  opacity: 1;
  visibility: visible;
}

.sidenav .txt-nav-link {
  transition: all .3s ease;
  visibility: collapse;
  opacity: 0;
}

/*=========SIDE NAV End============*/
.sidenav .nav-links-list {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.sidenav .nav-links-list a:hover, .sidenav .test-point-list a:hover {
  text-decoration: none !important;
}

/*Nav list*/
.sidenav .nav-links-list {
  font-size: .8rem !important;
  margin-bottom: .5rem;
}

.sidenav .nav-links-list h5{
  font-size: .8rem !important;
}

.nav-links-list .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /*border-bottom: solid orange 1px;*/
  border: none;

}

.test-point-list .list-group-item:last-child, .nav-links-list .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /*border-top: solid orange 1px;*/
  border: none;
}

.nav-links-list .list-group-item {
  background: #273135;
  /*border: 1px solid orange;*/
  color: orange;
  border: none;
  transition: all .3s ease;
}


.show .nav-links-list .list-group-item {
  padding: 0.4rem 1.25rem;
}

 .nav-links-list .list-group-item .list-group-item-heading {
  color: orange;

}

 .nav-links-list .list-group-item.active, .nav-links-list .list-group-item.active:focus, .nav-links-list .list-group-item.active:hover {
  z-index: 2;
  color: black;
  background-color: orange;
  /*border-color: darkorange;*/
  border: none;
}

.nav-links-list .list-group-item.active .list-group-item-text, .nav-links-list .list-group-item.active:focus .list-group-item-text, .nav-links-list .list-group-item.active:hover .list-group-item-text {
  color: #555;
}

.nav-links-list .list-group-item.active:hover {
  background: #ffAA00;
  color: black;
}

.nav-links-list .list-group-item-heading:hover {
  /*background: #555;*/
  color: darkorange;
}

.nav-links-list .btn-default {
  background: #555;
  color: orange;
  /*border: 1px solid orange;*/
  border: none;
}

.desc_name{
  text-align: center;
}
